config.h
config.log
config.status
libtool
Makefile
stamp-h1
wmxmms.1
xmms-config
xmms.1
**/.deps
**/.libs
po/Makefile.in
po/POTFILES
xmms/i18n.h
xmms/stamp-h2
xmms.spec

autom4te.cache

*.o
*.lo
*.la
*~
xmms/xmms
wmxmms/wmxmms
